{% extends 'base.html.twig' %}
 {% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-8 offset-sm-2">
                <h1>Première page web avec Symfony</h1>
                <p>Hello World !!!</p>
            </div>
        </div>
    </div>
 {% endblock %}