{% extends 'base.html.twig' %}

{% block title %}Edit Artist{% endblock %}

{% block body %}
    <h1>Edit Artist</h1>
    {{ include('artist/_form.html.twig', {'button_label': 'Update'}) }}
        
{% endblock %}
