* {
    margin: 0;
    text-align: center;
}
.name p {
    color: blue;   
    text-transform: uppercase;
    margin: 5px 0 50px; 
}
div {
    display: inline-flex;
    margin-left: 20px;
    margin-right: 20px;

    color: gray;
}