{% extends 'base.html.twig' %}

{% block title %}Edit Disc{% endblock %}

{% block body %}
    <h1>Edit Disc</h1>

    {{ include('disc/_form.html.twig', {'button_label': 'Update'}) }}
    {# <div class="row">
        <div class='col offset-5'>
            {{ include('disc/_delete_form.html.twig') }}
        </div>
    </div> #}

{% endblock %}
