{% extends 'base.html.twig' %}

{% block title %}New Disc{% endblock %}

{% block body %}
    <h1>Create new Disc</h1>

    {{ include('disc/_form.html.twig') }}

    <a href="{{ path('app_disc_index') }}">back to list</a>
{% endblock %}
